p {
  color: black;
}

#root {
  margin: 0 auto;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#heading {
  size: auto;
}

#title {
  font-size: 70px;
  margin-bottom: -10px;
}

#tab_button {
  margin: 30px;
  font-size: 30px;
}

#save_button {
  position:fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  zoom: 75%;
}

#save_image {
  zoom: 10%;
}