p {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#page {
  height: 2200px;
  width: 1700px;
  z-index: 0;
  position: relative;
  margin: auto;
  zoom: 75%;
}

#root {
  margin: 0 auto;
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title {
  font-size: 70px;
  margin-bottom: -10px;
}

#tab_button {
  margin: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 30px;
  background-color: transparent;
  border-radius: 20px;
  border-width: 3px;
  border-color: white;
}

#save_button {
  position:fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  zoom: 75%;
}

#save_image {
  zoom: 10%;
}

#char_name_stat {
  position: absolute;
  top: 135px;
  left: 130px;
  font-size: 35px;
  max-width: 33%;
  overflow: hidden;
  max-height: 45px;
}

#char_name_back {
  position: absolute;
  top: 145px;
  left: 132px;
  font-size: 35px;
  max-width: 33%;
  overflow: hidden;
  max-height: 45px;
}