/* This CSS File is being used for general CSS formatting across all 3 character pages */
#page {
    height: 2200px;
    width: 1700px;
    z-index: 0;
    position: relative;
    margin: auto;
    zoom: 75%;
}

#image_css {
    border-radius: 20px;
}