#insp {
    position: absolute;
    top: 22.65rem;
    left: 16.94rem;
    height: 45px;
    width: 45px;
}

#class_p {
    position:absolute;
    top: 7.5rem;
    left: 47rem;
    font-size: x-large;
}

#level_p {
    position: absolute;
    top: 0rem;
    left: 0rem;
    font-size: larger;
}

#script_div {
    z-index: 200;
}