#char_name {
    position: absolute;
    top: 343px;
    left: 228px;
    font-size: 30px;
    max-width: 27%;
    overflow: auto;
}
#char_button {
    position: absolute;
    top: 0px;
    left: 0px;
}